/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ecf2f8;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13px;
  min-height: 100vh;
  place-content: center;
  text-rendering: optimizeSpeed;
}

h1 {
  font-size: 13px;
  font-weight: 500;
  margin: 0;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}

p {
  font-size: 13px;
  line-height: 1.5;
  opacity: 70%;
}

small {
  font-size: 11px;
  opacity: 50%;
}

img {
  max-width: 100%;
  display: block;
}

/* ID & CLASS SELECTORS */
#testimonial-grid {
  display: grid;
  gap: 2rem; /*32 px*/
  grid-template-columns: repeat(4, 1fr);
  width: min(95%, 70rem); /*take the smaller between 95% of parent or 70 * 16px (1120). The latter wins here.*/
  border: 1px solid red;
  margin-inline: auto;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.testimonial {
  border-radius: 12px;
  padding: 2rem;
}

.testimonial:last-child {
  grid-column-start: 4; /*tells CSS to place this element starting on column 4*/
  grid-row-start: 1;
  grid-row-end: span 2;
}

/* PURPLE TESTIMONIAL */
.box-purple {
  background-color: #733fc8;
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 83% 0%;
  color: #fff;
  /* width: 540px; */
}

.box-purple p {
  color: #cfcfcf;
}

/* GRAY TESTIMONIAL */
.box-gray {
  background-color: hsl(217, 19%, 35%);
  color: #fff;
  /* width: 270px; */
}

/* WHITE TESTIMONIAL */
.box-white {
  background-color: #fff;
  color: #48556a;
}

/* BLACK TESTIMONIAL */
.box-black {
  background-color: hsl(219, 29%, 14%);
  color: #ecf2f8;
  /* width: 540px; */
}

.testimonial-author {
  display: flex;
  gap: 12px;
  margin-bottom: 14px;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.author-headshot {
  width: 34px;
  border-radius: 50%;
  align-self: center; /*keeps image from streching with parent flex container*/
}

.box-purple .author-headshot,
.box-black .author-headshot {
  border: 3px solid #a775f1;
}

/* MEDIA QUERY FOR MOBILE LAYOUT */
@media (max-width: 850px) {
  /* body {
    background: blue;
  } */

  #testimonial-grid {
    display: grid;
    gap: 1.5rem; /*24 px*/
    grid-template-columns: 327px;
    margin-inline: auto;
    place-content: center;
  }

  .testimonial:last-child {
    grid-column-start: 1;
    grid-row-start: 5;
  }

  .grid-col-span-2 {
    grid-column: span 1;
  }
}
